<div class="col-xs-12 col-md-4 col-lg-4">
    <div id="brand">
        <%= link_to 'niyazi tanyıldız', root_path %>
    </div>
    <div class="clearfix"></div>
    <div id="sidebar">
        <ul class="category">
        	<% @tags.each do |tag| %>
            	<li><%= link_to tag.name, tags_path(params[:id]) %></li>
            <% end %>
        </ul>
    </div>
</div>
